<%= form_with(url: results_cocktails_path, method: "get", class: "form-group") do %>
  <fieldset class="mb-3">
    <legend class="form-label">味わいの選択</legend>
    <% taste_groups = [
      ['1,2', '甘口'],
      ['3', '中口'],
      ['4,5', '辛口']
    ] %>
    <% taste_groups.each do |value, label| %>
      <div class="form-check mb-2">
        <input class="form-check-input" type="radio" name="taste_group" value="<%= value %>" id="taste<%= value %>">
        <label class="custom-radio-label" for="taste<%= value %>"><%= label %></label>
      </div>
    <% end %>
  </fieldset>

  <button type="submit" class="btn btn-primary mt-2">結果を表示</button>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.hidden-checkbox').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        var label = this.nextElementSibling;
        if(this.checked) {
          label.classList.add('checked');
        } else {
          label.classList.remove('checked');
        }
      });
    });
  });
</script>