<div class="container">
  <div class="d-flex justify-content-center mt-1">
    <div class="col-auto">
    </div>
  </div>

<div id="main">
  <div class="row mt-3">  
    <div class="col-12">
        飲みたいお酒を教えて下さい。<br/>
        どういったお酒が飲みたい？
    </div>
  </div>
    <%= form_with url: games_path, local:true do |f| %>
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <%= f.submit "はじめる", class:'btn btn-primary mb-4' %>
      </div>
    </div>
  <% end %>

<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-md-auto mb-2">
      <%= link_to 'お問い合わせ', contact_path, class: 'btn btn-link' %>
    </div>
    <div class="col-12 col-md-auto mb-2">
      <%= link_to '利用規約', terms_path, class: 'btn btn-link' %>
    </div>
    <div class="col-12 col-md-auto">
      <%= link_to 'プライバシーポリシー', privacy_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>

