<div class="container">
  <div class="d-flex justify-content-center mt-1">
    <%= form_with url: cocktails_search_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do |form| %>
      <div class="col-md-6">
        <%= form.label :word, "検索文字列", class: "sr-only" %>
        <%= form.text_field :word, placeholder: "カクテルを検索", class: "form-control mr-sm-3" %>
      </div>
      <div class="col-md-6">
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
    <% end %>
  </div>
</div>

<div id="main">
  <div class="row mt-3">  
    <div class="col-12">
        飲みたいお酒を教えて下さい。<br/>
        どういったお酒が飲みたい？
    </div>
  </div>
    <%= form_with url: games_path, local:true do |f| %>
    <div class="row mt-5">
      <div class="col-6 offset-3">
        <%= f.submit "はじめる", class:'btn btn-primary mb-4' %>
      </div>
    </div>
  <% end %>

<!-- ログインページへのリンク -->
  <div class="row mt-2">
    <div class="col-6 offset-3">
      <% if user_signed_in? %>
      <div class="mt-4"> <!-- ここにマージントップを追加 -->
        <%= link_to 'マイページ', user_path(current_user), class: 'btn btn-outline-primary mb-3' %>
      </div>
      <div>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger mb-4' %>
      </div>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-primary mb-4' %>
    <% end %>
  </div>
</div>

<div class="container mt-5"> <!-- ここにマージントップを追加 -->
  <div class="text-center d-flex flex-row justify-content-center flex-wrap">
    <div class="btn-group" role="group">
      <%= link_to 'お問い合わせ', contact_path, class: 'btn btn-link' %> <!-- ここにマージンライトを追加 -->
      <%= link_to '利用規約', terms_path, class: 'btn btn-link' %> <!-- ここにマージンライトを追加 -->
      <%= link_to 'プライバシーポリシー', privacy_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>
