<!DOCTYPE html>
<html>
  <head>
    <style>
    .autocomplete-custom-item {
      padding: 2px 3px;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: center;
    }

    .autocomplete-custom-item:last-child {
      border-bottom: none;
    }

    .autocomplete-custom-item .bi {
      margin-right: 10px;
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Naninomu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-custom py-3">
      <div class="container">
    <%= link_to image_tag('naninomu_top1.png', width:200), games_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= form_with url: cocktails_search_path, method: :get, local: true, class: "d-flex" do |form| %>
            <%= form.text_field :word, placeholder: "カクテルを検索", class: "form-control form-control-sm me-3 search-field" %>
            <%= form.submit "検索", class: "btn btn-outline-light btn-sm me-5 rounded" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ランキング', rankings_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'お気に入り一覧', user_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= yield :hero %>

<div class="container text-center">
    <header class="row mb-2">
      <div class="col-12">
        <% if content_for?(:header_image) %>
          <%= yield :header_image %>
        <% else %>
          <%= image_tag 'naninomu.png', {width:350} %>
        <% end %>
      </div>
    </header>

  <main class="row">
    <div class="col-8 offset-2">
      <div id="flash-messages"></div> <!-- フラッシュメッセージ表示用のコンテナ -->
      <%= yield %>
    </div>
  </main>
</div>


<footer class="footer-top mt-auto">
  <div class="container">
    <div class="row">

<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-md-auto mb-1">
      <a href="<%= contact_path %>" class="btn btn-link">お問い合わせ</a>
    </div>
    <div class="col-12 col-md-auto mb-1">
      <a href="<%= terms_path %>" class="btn btn-link">利用規約</a>
    </div>
    <div class="col-12 col-md-auto">
      <a href="<%= privacy_path %>" class="btn btn-link">プライバシーポリシー</a>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

<script>
$(document).ready(function() {
  $(".search-field").autocomplete({
    source: "/cocktails/autocomplete", // オートコンプリートのエンドポイント
    minLength: 2, // オートコンプリートが動作する最小文字数を設定
  }).autocomplete("instance")._renderItem = function(ul, item) {
    return $("<li>")
      .addClass("autocomplete-custom-item")
      .append("<div><i class='bi bi-glass-martini'></i>" + item.label + "</div>")
      .appendTo(ul);
  };
});
</script>
